extends layout

block content 
    h2 Admin Dashboard
    a(href='/add') Add New Article
    ul
        each article in articles
            li
                h3 #{article.title}
                a(href=`/edit/${article.id}`) Edit
                span -
                a(href=`/delete/${article.id}`) Delete