html 
    head 
        title Personal Blog
    body 
        header 
            h1 Personal Blog
            nav
                ul
                    li
                        a(href='/') Home
                    li
                        a(href='/dashboard') Dashboard (Admin)
                    li
                        a(href='/login') Login
        block content