html 
    head 
        title Personal Blog
    body 
        header 
            h1 Personal Blog
            nav
                ul
                    li:a(href='/') Home
                    li:a(href='/admin/dashboard') Dashboard (Admin)
                    li:a(href='/admin/login') Login
        block content